.button_place_novelty {
	margin-left: 120px;
}

@media screen and (max-width: 375px) {
    .button_place_novelty {
        margin-left: 90px
    
    }
}


@media screen and (max-width: 320px) {
    .button_place_novelty {
        margin-left: 70px
    
    }
}