@import url('./__section/root__section.css');
.root {
	max-width: 375px;
	min-width: 320px;
	font-family: 'Gotham Pro', sans-serif;
    font-size: 14px;
    color: #282828;
    font-weight: 300;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
}